# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django / SQLite
*.sqlite3
*.sqlite3-journal
db.sqlite3
staticfiles/
media/

# Environments & virtualenvs
.env
.venv
env/
venv/
ENV/

# Node.js / React / Vite
node_modules/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
